.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
db/schema.rb
config/initializers/_env.rb
*.swp
.sass-cache/
config/initializers/01_envvars.rb
public/uploads/
logfile
.DS_Store
config/initializers/01_env_vars.rb
*.swo
coverage
