p #{@poker.name} acaba de pressionar via Facebook a campanha #{link_to @campaign.name, @campaign}. Porém, não foi possível postar na página do Facebook do alvo #{link_to @influencer.name, @influencer}.
p Verifique se #{link_to "a página do Facebook do alvo", @influencer.facebook_url} é pública, caso contrário atualize o perfil do alvo para este problema não se repetir.
p Em caso de dúvidas, encaminhe este email para tech@nossascidades.org
