= @poke.campaign.targets.map{|t| t.influencer.name}.join(", ")
p= raw @poke.campaign.description.gsub("\n", "<br />")
p= link_to @poke.campaign.name, @poke.campaign
p= "Atenciosamente, #{@poke.user.name}"
