p= @poke.user.first_name

= raw simple_format(@campaign.pokers_email)

p Espalhe essa mobilização e chame seus amigos para se juntarem a nós. Basta clicar em um dos links abaixo:

p= link_to "Compartilhar no Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{URI::encode(campaign_url(@campaign))}"
p= link_to "Compartilhar no Twitter", "https://twitter.com/share?url=#{campaign_url(@campaign)}&text=#{@campaign.name}"
