li.campaign
  line-height: normal
  img
    +border-radius(5px 5px 0 0)
  .name_and_user_name
    background: white
    padding: .5em 1em
    border-left: 1px solid #e7e7e7
    border-right: 1px solid #e7e7e7
    height: 115px
  .pokes
    background: #f7f8fc
    padding: .5em 1em
    border: 1px solid #e7e7e7
    +border-radius(0 0 5px 5px)
    .count
      font-size: 24px
      font-weight: bold
      margin-bottom: -10px
    span
      font-size: 14px
      color: #a0a0a2
