@import 'columnal/grid'

body[data-controller-class="CampaignsController"][data-action="New"], body[data-controller-class="CampaignsController"]
  .new_campaign
    +grid_row
    overflow: visible
    .motivate
      +grid(6)
      .image
        padding: 5px
        background: white
        margin: 0 0 1em 0
        img
          +border-radius(0)
          margin: 0
      .text
        background: rgba(gray, .1)
        padding: 1em
        +box-shadow(gray 0 0 5px)
        p
          margin-bottom: 1em
          &:last-child
            margin-bottom: 0
    .form
      +grid(6)
      +last
      label
        +grid-subcolumn(6, 2)
        color: gray
        font-weight: bold
        +text-shadow(white 0 1px 1px)
        &[for="campaign_description"], &[for="campaign_name"], &[for="campaign_influencers"]
          +grid-subcolumn(6, 6)
          margin-bottom: .5em
      .field
        +grid-subcolumn(6, 4)
        +last
        &.description, &.name, &.influencers
          +grid-subcolumn(6, 6)
          .field_bg
            background: white
            padding: .5em
            +border-radius(.25em)
            +box-shadow(gray 0 -1px 1px)
            input, textarea
              +box-shadow(none)
              background: white
              padding: 0
              width: 100%
            textarea
              height: 200px
      .action
        +grid-subcolumn(6, 6)
        +last
      li.field_row
        +grid-row
        margin-bottom: 1em
        &.influencers
          overflow: visible
          #campaign_influencers_chzn
            margin-bottom: 1em
