@import 'columnal/grid'

body[data-controller-class="CampaignsController"][data-action="Show"]
#campaign
  +grid_row
  .detail
    +grid(8)
    .navigation
      +grid(9)
    .category
      +grid(3)
      +last
      text-align: right
    .headline
      font-size: x-small
      line-height: 2.3em
      .user
        img
          float: left
          margin-right: 5px
        +grid(5)
      .time
        +grid(7)
        +last
        text-align: right
    .info
      font-style: italic
      margin-bottom: 1em
      span
        font-weight: bold
        font-style: normal
    .image
      margin-bottom: 1em
      img
        border: 4px solid white
        +border-radius(0)
    .buttons
      margin-bottom: 1em
    form.new_post 
      .content
        +grid-subcolumn(8, 4)
      .preview
        +grid-subcolumn(8, 4)
        +last
      textarea#post_content
        width: 100%
        height: 164px
        margin-bottom: 1em
    .posts ul li
      margin: 1em 0
      h1
        font-size: x-large
        font-family: 'Londrina Solid', cursive
        color: gray
        letter-spacing: .1em
        margin-bottom: .25em
        +text-shadow(white 0 1px 1px)
      h2
        font-size: large
        color: gray
        letter-spacing: .1em
        margin-bottom: .25em
        +text-shadow(white 0 1px 1px)
        
  .action
    +grid(4)
    +last
    img
      margin: 0 1em 1em 0
    span.counter
      font-weight: bold
