@import 'compass/reset'
@import 'columnal/grid'
@import 'chosen'

body
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
  font-size: small
  line-height: normal 

h1
  font-size: xx-large

fieldset
  ol
    list-style: none
    padding: 0
    margin: 0
    li
      +grid-row
      list-style: none
      label
        +grid(5)
      input,textarea
        +grid(5)
        +last

section
  +grid-container
  &.top
    margin: 1em 0
    .user
      text-align: right
      img
        float: right
        margin-left: 1em
  header
    +grid-row
    .logo
      +grid(6)
    .user
      +grid(6)
      +last

section.content
  .title
    +grid-row
    margin-bottom: 2em
    h1, .buttons
      +grid(6)
    .buttons
      +last
      text-align: right

.alerts
  .notice
    +grid(12)
  .alert
    +grid(12)

footer
  +grid-container

.row
  +grid_row
      
.inline-errors
  color: red
