p Parabéns #{@campanha.user.name}! Sua campanha #{link_to @campaign.name, @campaign} já está no ar. Agora é com você: espalhe a sua campanha para quem você puder usando os links de compartilhamento no Facebook e Twitter ou enviando o link da campanha por email. Quanto mais gente, mais pressão e quanto mais pressão mais rápido a coisa anda! 
