p Atenção curadoria!
p= raw "Uma nova campanha chamada #{link_to @campaign.name, edit_campaign_url(@campaign)} está aguardando a sua moderação."
p O criador da campanha se chama #{@campaign.user.name} e o email dele é #{@campaign.user.email}.
p 
  strong Descrição da campanha:
em= simple_format @campaign.description
