p= "Olá #{@campaign.user.name}"

p 
  | Confirmamos o recebimento do formulário de criação da campanha 
  strong= @campaign.name
  |  no Seu Rio para moderação de nossa equipe.

p Neste momento, estamos analisando com bastante cuidado todos os detalhes de sua campanha, desde o texto, até os alvos que você escolheu pra pressionar.

p A ideia de fazer essa moderação é ajudar a deixar a sua campanha com uma linguagem clara e propositiva, e a verificar se o alvo escolhido por você é realmente aquele responsável pela mudança que você quer ver no Rio.

p Responderemos assim que possível.

p Vale lembrar que não aceitaremos campanhas com fins partidários, eleitoreiros, vexatórios, difamatórios, ou que assediem, persigam, violem ou ameacem de qualquer forma os direitos de alguém, ou que não seja construtiva para nossa cidade.

p A ideia do Seu Rio é ser uma ferramenta que possibilite o diálogo direto entre o cidadão e aqueles que administram a nossa cidade maravilhosa, portanto vamos construir um cidade bacana para todos.

p Fique de olho no seu email, que já já voltamos com novidades sobre a sua campanha.

p Equipe Seu Rio

p "Ajudando a construir o Rio que você quer"
