.update
  .image= link_to image_tag(update.thumb), [update.campaign, update], rel: "facebox[.update_facebox]"
  .created_at= l update.created_at, format: :short
  .title= link_to update.title, [update.campaign, update], rel: "facebox[.update_facebox]", id: "update_#{update.id}_btn"
