.fb-like data-href=request.url data-send="true" data-layout="button_count" data-show-faces="false"
a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt" data-url=@campaign.short_url Tweetar


