$columnal-grid-width: 980px !default

$yellow: #f6cc47
$green: #219548
$green_hover: #1d8741
$orange: #ffa94b
$mr_green: #219548
$victory: #87c442
$loss: #c44242
$fb_blue: #1F4A8E
$twitter_blue: #359AD8
$gray: #f3f4f4

@import compass/reset
@import columnal/grid
@import colorbox 
@import chosen
@import icomoon
@import font
//@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic')
*
  +transition(.2s)

.clear
  clear: both
.hidden
  display: none
.campaigns_awaiting_moderation, .my_campaigns, .campaign_info, a[href="#campaigns_list"], .meurio_and_user .user, .logo_and_share .share, section.footer, .tabs, .about p, body.users#show aside, body.campaigns#update aside, body.campaigns#index aside, body.campaigns#new aside, body.campaigns#create aside, body.campaigns#edit aside
  +mobile-hide
section
  +grid-container

.row
  +grid-row


.logo_and_share, .links_and_social, article.wide, .meurio_and_user, section .message, .influencers_list, .highlight .links, .finished_at, body.campaigns#unmoderated article.left
  +grid(12)
  +last

article.right
  +grid(9)
  +last

article.left, .home_link 
  +grid(8)

.highlight .about, .highlight .campaign, form#new_influencer
  +grid(6)

aside.right, .new_campaign_btn
  +grid(4)
  +last
aside.left
  +grid(3)

.list .campaign
  +grid-subcolumn(9, 9)

.list .campaign .image
  +grid-subcolumn(9, 3)

.list .campaign .details
  +grid-subcolumn(9, 6)

article.left .poke, article.left .contact
  +grid-subcolumn(8, 4)

article.right, aside.right, .highlight .campaign, .list .campaign .details, .new_campaign_btn, article.left .contact, .influencers_list
  +last

img
  margin: 0
  +border-radius(0)

hr
  border-top: none
  border-bottom: 1px dashed $orange

.btn
  font-family: "Proxima Nova Bold"
em
  font-family: "Proxima Nova Italic"

body
  font-family: "Proxima Nova", 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-serif
  font-size: .9em
  line-height: 1.4em

h1, h2, h3, h4, h4, h5
  font-family: "Proxima Nova Bold"

h1
  font-size: 1.8em
  margin-bottom: .25em

h2
  font-size: 1.6em
  margin-bottom: .5em

h3
  font-size: 1.5em

h4 
  font-size: 1em

strong
  font-weight: bold

p
  margin-bottom: 1em

a
  color: $green
  text-decoration: none
  &:hover
    color: $victory

input[type='text'], textarea, input[type="email"], input[type="url"]
  outline: none
  border: 2px solid lighten(gray, 40%)
  padding: .6em .5em
  font-size: 1.1em
  color: lighten(gray, 10%)
  &:focus
    border: 2px solid $orange

table
  img
    float: left
  td
    padding: .5em
  tr:nth-child(even)
    background: lighten($yellow, 35%)
  tr:nth-child(odd)
    background: lighten($yellow, 30%)

div.logo a img:hover
  opacity: .8

li.error
  input
    border-color: red

p.inline-errors
  color: red
  font-size: .8em

p.inline-hints
  color: gray
  font-size: .8em

p.inline-hints, p.inline-errors
  margin: 0

#login
  h2
    text-align: center
    margin: 1em 1.5em
  .alert
    background: $gray
    padding: 1em
    width: 70%
    margin: .5em auto
  span
    display: block
    text-align: center
    color: gray
    margin: .6em 0
  .buttons
    margin: 1em
    a
      display: block
      text-align: center
      width: 70%
      margin: 0 auto
      padding: .6em 
      &:hover
        background: $orange

.btn
  background: $green
  color: white
  padding: .7em 1.6em
  font-size: 1em
  letter-spacing: 1px
  display: inline-block
  text-transform: uppercase
  width: 80%
  text-align: center
  +transition(.2s)
  +border-radius(4px)
  &:hover
    color: white
    background: #1d8741

#formatting
  display: none

ul.formatting
  ol
    list-style: disc
    padding-left: 1.5em
    li
      margin-bottom: .5em
    h4
      font-weight: bold
      margin-right: .4em
      display: inline-block

a[href='#formatting']
  font-size: .8em

article
  &.right
    background: lighten(gray, 48%)
    min-height: 400px
    +box-shadow(inset 1px 0 0 lighten(gray, 35%))
  &.left
    background: white
    padding-bottom: 2em
 
aside
  &.right
    height: 100% !important
    .content
      border-left: 1px solid lighten(gray, 35%)
      padding: 0 1em 1em 1em

.inside
  padding: 1em

section.highlight
  .new_campaign_btn
    .btn
      font-size: 1.5em
      padding: none
      margin-top: .2em
      +border-radius(0px !important)
      +box-shadow(none !important)
  .links
    padding: 1em 0
  form.featured
    display: inline-block
    label
      color: $green 
      font-size: .9em
      &:hover
        cursor: pointer
        color: black
        font-weight: bold
    input
      text-indent: -9999px
section.content
  padding: 1.5em 0

section.header, section.footer
  padding: 1.5em 0

section.notice, section.alert
  .message
    color: white
    &:before
      padding-right: 1em

section.notice
  background: $green
  border-bottom: 1px dashed darken($green, 20%)

section.alert
  background: $orange
  border-bottom: 1px dashed darken($orange, 20%)


a[href="/auth/facebook"], a[href="/auth/meurio"]
  text-transform: uppercase
  font-size: .9em !important
  color: white
  padding: 4px 15px
  +border-radius(5px)

a[href="/auth/meurio"]
  background: $mr_green

a[href="/auth/facebook"]
  background: $fb_blue

.popup
  h1
    line-height: normal
    color: $green
  .buttons
    text-align: center
  .share
    .fb-like
      top: -4px

section.login
  padding: .4em 0
  line-height: 2.5em
  border-bottom: 1px solid lighten(black, 85%)
  +box-shadow(1px 4px 15px lighten(black, 85%))
  a.fb, a.mr
    margin: 0 .4em
  .meurio, .user
    color: lighten(gray, 25%)
    font-size: .8em
  .meurio
    +grid(6)
  .user
    text-align: right
    float: right
  ul.current li.me
    padding: .4em
    line-height: 3em
    &:hover
      cursor: pointer
      background: $gray
      .options
        display: block
    img
      position: relative
      top: .4em
      margin-right: .4em
    .name
      &::after
        content: "▾"
        display: inline-block
        padding-left: .4em

  ul.options
    display: none
    position: absolute
    z-index: 9999
    background: lighten($gray, 2%)
    display: none
    margin-left: -.4em
    +box-shadow(0 1px 2px lighten(gray, 15%))
    li
      text-align: left
      padding: .2em .6em
      border-bottom: 1px solid darken($gray, 10%)
      &:hover
        background: $orange
        color: black
        a
          color: black 
          padding-right: .8em

section.header
  .fb-like
    position: relative
    top: .5em
  .logo
    +grid(3)
    +grid-suffix(3)
  .create
    +grid(5)
    a
      color: lighten(gray, 28%)
      display: inline-block
      padding: 1.2em
      border-right: 1px solid lighten(gray, 42%)
      &:hover
        color: $victory
      span
        display: block
        font-weight: bold
        font-family: "Proxima Nova Bold"
        font-size: 1.3em
        color: $green
        margin-bottom: -4px
  .share
    +grid(1)
    +last
    +mobile-hide
section.highlight
  margin-top: -.1em
  background: image-url('bg_highlight.jpg') center top repeat-x
  .counter
    span
      font-size: 3em !important
    .count
      &:before
        font-size: 4em !important
        margin-top: .2em
  .featured
    background: white
    padding: 1em
    margin: 1em 0
    overflow: hidden
    +border-radius(4px)
    +box-shadow(1px 1px 2px lighten(black, 65%))
    h1
      color: $green
      font-size: 1.6em
      margin-top: .6em
      margin-bottom: .4em !important
    .is_featured
      background: $orange
      color: white
      width: 30%
      font-size: .8em
      padding: .3em .4em
      font-weight: bol
      +border-radius(4px)
    .category
      font-size: .8em
      color: black
      &:before
        color: $orange
        margin-right: .5em
    .description
      color: lighten(gray, 5%)
      margin-top: .6em
      font-size: 1em
      line-height: 1.4em
    .count, .poke
      +grid-subcolumn(6,3)
    .poke
      +last
    .about
      +grid(6)
    .image
      +grid(6)
      +last
      height: 32%
      img, iframe
        width: 100%
        display: block
        +box-shadow(0 0 4px lighten(black, 60%))
      iframe
        height: 100%

section.content
  background: $gray
  ol.campaigns
    li.campaign
      background: white
      overflow: hidden
      margin-bottom: 2em
      +grid(3)
      +box-shadow(0 0 4px darken($gray, 15%))
      +border-radius(4px)
      .icon-message
        &:before
          position: relative
          top: .2em
      .icon-megaphone
        display: none
      &.not_finished:hover
        .icon-message
          display: none
        .icon-megaphone
          display: block
    h3
      font-size: 1.1em
      height: 5em 
      display: block
    .image, .info
      padding: .8em
    .image, .info
      padding-bottom: 0
    .image
      img
        +box-shadow(0 0 2px darken($gray, 30%))
    .victory, .loss, .pressure
      background: $victory 
      color: white
      text-align: center
      font-size: 1.3em
      font-weight: bold
      padding: .7em
      +border-radius(4px)
      +transition(.4s)
      &:before
        margin-right: .2em
        font-size: 1.2em
        top: .1em
        position: relative
    .pressure
      padding: .3em
      background: $green
      a
        color: white
        padding: .170em 
        display: inline-block
      &:hover
        background: $victory
    .loss
      background: $loss
    .counter
      padding: .4em


// General style scopes

span.category
  font-size: .7em
  color: lighten(black, 10%)
  &:before
    color: $orange
    margin-right: .4em
p.description
  font-size: .9em
  line-height: 1.4em
  height: 100px
  margin-top: .4em
  a
    color: darken($gray, 40%)
.counter
  padding-top: 1em
  border-top: 1px solid darken($gray, 10%)
  .icon-message
    color: darken($gray, 15%)
  span
    display: block
    font-size: 1.8em
    font-family: "Proxima Nova Bold"
    color: black
    font-weight: bold
    line-height: .8em
    margin-bottom: -2px
  font-size: .9em

section.information
  background: darken($gray, 5%)
  .create_your_campaign, .our_victories, .didnt_find_target
    height: 30% 
    margin: 2em 0
    background: white
    +grid(4)
    +box-shadow(0 1px 2px lighten(gray, 30%))
    +border-radius(4px)
    .btn
      width: 83.5%
    .content
      padding: .8em
    h3
      margin: .8em 0
      font-size: 1.3em
      font-weight: bold
    p.description
      height: auto
  .didnt_find_target
    +last


body.campaigns#index, body.campaigns#explore
  .popular, ol.campaigns li.not_finished
    .counter
      padding: .6em
      padding-top: 1em

section.header
  +box-shadow(0 1px 6px lighten(black, 75%))
  margin-bottom: .2em
body.campaigns#index
  .featured
    .description
      padding: .2em 0 .6em 0
  h2.popular
    margin: .6em 0 1.5em 0
    color: darken(gray, 25%)
    font-weight: bold
    &:before
      color: darken($orange, 5%)
      margin-right: .4em
      top: .2em
      position: relative
  section.index, .popular
    ol.campaigns 
      li.campaign
        &:nth-child(4n+0)
          +last
  .all_campaigns
    form.search
      margin-bottom: 2em
      display: block
      input
        padding: 0
    .block
      +grid(4)
      &.last
        +last
    ol.campaigns
      margin-top: 1em

section.explore
  article.left
    background: $gray
    +grid(9)
  aside.right
    +grid(3)
    +last
    h4
      font-weight: bold
      font-size: 1em
      margin-bottom: 1em
      color: darken(gray, 15%)
  .about
    h3
      font-weight: bold
      margin: 1em 0 .5em 0
      color: darken(gray, 15%)
    span
      color: darken($gray, 30%)
      font-size: 1.1em
      display: inline-block
      margin-bottom: 1em
  ol.campaigns
    li.campaign
      +grid(4)
      &:nth-child(3n+0)
        +last
  ol.categories
    li
      padding: .8em 0
      border-bottom: 1px solid darken($gray, 15%)
      a
        color: lighten(gray, 10%)
        font-size: .9em
      &:hover
        border-bottom: 1px solid $yellow
        a
          color: $orange
    span
      float: right
      background: $yellow
      color: white
      padding: .1em .6em
      font-size: .9em
      display: inline-block
      width: 4% 
      text-align: center
      +border-radius(4px)

body.campaigns#show
  .twitter-share-button
    position: relative
    top: .250em
    left: .8em
  section.header
    +box-shadow(0 1px 6px lighten(black, 75%))
    margin-bottom: .2em
  h1.title, span.category
    color: darken($gray, 75%)
  h1.title
    font-size: 2em
    font-weight: bold
    line-height: 100% 
    margin: 1em 0 .5em 0
  span.category
    font-size: 1em
    display: block
    color: darken($gray, 55%)
    margin-bottom: 1.5em
  article.tab, article.share
    background: none
    padding-bottom: .6em
  nav a
    color: lighten(gray, 20%)
    margin: 0 1.6em
    padding: .5em .3em
    +transition(.2s)
    &.selected, &:hover
      color: $green
      border-bottom: 3px solid $green
    &:hover
      border: none
    span.count
      background: $orange
      color: white
      padding: 0 .6em
      font-size: .8em
      margin-left: .4em
      +border-radius(2px)
  .wrap
    padding: 1.8em
    background: white
    height: 100% !important
    overflow: hidden
    +border-radius(4px)
  article.campaign, aside.pressure
  .image
    img,iframe
      +border-radius(4px)
    iframe
      width: 100% !important
      height: 350px !important

  .description
    margin: 1.6em 0
    a
      border-bottom: 1px dotted $green
    p
      font-size: 1.05em !important
      color: darken($gray, 60%)
      line-height: 1.6em
      strong
        color: #333
  .counter, .via_facebook, .via_twitter, .via_email
    background: $gray
    padding: .8em 0
    overflow: hidden
    +border-radius(6px)
  .counter 
    margin-bottom: 1em
    .count
      padding: .8em

      &:before
        font-size: 4em
        margin-top: .2em
      span  
        font-size: 3em
  .message_link
    text-align: center
    font-size: .8em
    color: lighten(gray, 15%)
    width: 100%
    display: inline-block
 
  .poke_buttons
    .text
      margin: 3em 0 1em 0
    .via_facebook, .via_twitter, .via_email
      margin: 1em 0
      .message
        padding: 1.6em
        width: 80%
        display: none
        h4
          text-transform: uppercase
        .text
          color: darken($gray, 40%)
          font-size: .8em
      .btn 
        width: 75%
        margin: 0 auto
        display: block
        background: $fb_blue
        &.disabled
          background: darken($gray, 10%)
          input, span 
            color: lighten(gray, 15%)
            &:hover
              cursor: default
          &:hover 
            background: darken($gray, 20%)
        &:hover
          background: lighten($fb_blue, 5%)
        input
          background: none
          border: none
          color: white
          font-family: "Proxima Nova Bold"
          font-size: 1.2em
          text-transform: uppercase
          margin: 0
          padding: 0
          margin-bottom: -2.5em
          padding-bottom: 2.5em
          &:hover
            cursor: pointer
        span
          font-size: .6em
          font-family: "Proxima Nova Bold"
          text-transform: none
          line-height: .8em
          color: lighten($fb_blue, 40%)
          display: block
    .via_twitter .btn
      background: $twitter_blue
      span
        color: lighten($twitter_blue, 40%)
      &:hover
        background: lighten($twitter_blue, 5%)
    .via_email .btn
      background: darken($gray, 45%) 
      span
        color: darken($gray, 10%)
      &:hover
        background: darken($gray, 40%)

  .targets, .supporters, .pokers
    margin-bottom: 1em
    overflow: hidden
    h3
      border: 1px solid $gray 
      border-bottom: none
      padding: .8em
      font-size: 1.1em
      font-weight: bold
      span
        color: $orange
      &:before
        color: darken($gray, 30%)
        margin-right: .4em
        font-size: 1.2em
        position: relative
        top: .192em
    .content
      border: 1px solid $gray 
      padding-top: 1em
    img
      float: left
      +transition(.4s)
      &:hover
        opacity: .7
    .social a
      display: inline-block
      margin-right: .4em
  .target
    margin-bottom: .8em
  .icon-twitter
    color: $twitter_blue
  .icon_facebook
    color: $fb_blue
  .icon-mail
    color: gray
  .targets img, .supporters img
    padding-right: .4em
  .targets .role
    font-size: .7em
    color: lighten(gray, 10%)
    line-height: 1em

  .pokers
    li
      float: left
      img
        border: 1px solid white
        &:hover
          border: 1px solid $orange
    li.who_pokes
      background: $gray
    .content
      overflow: hidden
    .the_others
      font-weight: bold
      line-height: 3.5em
      padding-right: .9em
      text-align: center
      width: 100%
      &:before
        content: "+"
        margin-left: .4em
body
  &.campaigns
    &#show
      article.left
        .influencers_response
          small
            display: block
            color: gray
            font-style: italic
            text-align: center
            margin-bottom: 1em
          .campaign_answer
            border-bottom: dashed 1px $orange
            margin-bottom: 1em
            padding-bottom: 1em
            .answer_created_at
              color: $orange
              font-size: .8em
            .answer_text
              color: gray
              p
                margin-bottom: 1em
          form.new_answer
            label
              display: block
            textarea
              width: 100%
              +box-sizing("border-box")
              height: 200px
          
    &#new, &#edit, &#create, &#update
      span.block
        display: block !important
      input, textarea
        +transition(.3s)
      form
        small.inline-errors
          display: none
        &.errors
          small.inline-errors
            display: block
            font-size: .7em !important
            background: lighten(red, 45%)

      h1, small
        margin: .4em 0 
      small
        display: block
        color: lighten(gray, 5%)
        padding: .4em
        background: lighten($orange, 30%)
        font-size: .9em !important
      fieldset
        margin: 1.6em 0
        background: lighten($orange, 34%)
        padding: 1em
        border: 2px solid lighten($orange, 20%)

        legend  
          background: $orange 
          display: block
          padding: 0 .4em
          text-transform: uppercase
          letter-spacing: 1px 
          font-size: 1.2em
          +box-shadow(1px 2px 1px gray)
        input, textarea
          color: black
          font-size: .9em
          font-family: "PT Sans"
        textarea
          height: 80px
      .inline-errors
        color: red
        font-size: .7em
        text-align: center
      span.tip
        background: lighten($yellow, 15%)
        margin: .4em 0
        padding: .4em 1em
        font-size: .7em !important
        line-height: 1.4em
        display: none
        +border-radius(4px)
      aside.right
        .content
          .tip
            width: 90%
            background: lighten($yellow, 5%)
            color: #333
            line-height: 1.4em
            font-size: .7em
            margin: 8em 0 11em 1em
            +border-radius(6px)
            &::before
              content: ""
              display: block
              height: 0
              width: 0
              border: 10px solid lighten($yellow, 5%)
              border-color: transparent lighten($yellow,5%) transparent transparent
              border-width: 10px 10px 10px 0
              position: absolute
              margin-top: 1em
              left: 1.5em
            &.text
              &::before
                margin-top: 2.1em
            &.first
              margin-top: 13em
              margin-bottom: 12em
            &.marked
              margin-top: 15em
              margin-bottom: 10em
              &.second
                margin-top: 25em
                margin-bottom: 16em
            span
              display: block
              padding: 1em
      .action
        width: 80%
        margin: 4em auto
      a.cancel
        margin-right: 2em
      input[type='text'], textarea
        width: 98%
      textarea
        height: 200px
      h1
        line-height: 1em
      small
        font-size: .8em
        line-height: 1.4em
        display: block
      label 
        color: $green
        font-size: 1em
        font-weight: bold
        display: block
        margin: 1em 0 .8em 0
      .influencers
        input
          +box-shadow(none)
      form.edit_user
        text-align: center
        background: lighten($orange, 30%)
        padding: 1em
        margin-bottom: 10em
        label
          display: none
        input
          display: inline
        input[type="text"]
          width: auto
          margin: 0 1em
        small
          margin: 0 0 .5em 0
  &.users, &.influencers
    &#show
      .about
        overflow: hidden
        margin-bottom: 1em
      .submit
        float: right
      article.right
        +grid(9)
        +last
        textarea
          width: 100%
          height: 200px
          +box-sizing("border-box")
        form.not_logged
          textarea
            height:  10% !important
            background: none
            border: none
      aside.left
        +grid(3)
        h3
          padding-top: 1em
        strong
          display: block
        .image
          img
            +box-shadow(0 0 .4em gray)
            padding: .5em
        form
          span.member_since
            font-size: .7em
            color: lighten(gray, 15%)
          hr
            border: 1px solid lighten(gray, 40%)
          label
            display: block
            margin: .5em 0 0 0
            font-weight: bold
            color: $green
          .image, ul.details
            margin: 1em
          .image
            img
              +box-shadow(0 0 .4em gray)
              padding: .5em
          textarea
            max-width: 91% 
            max-height: 6em
  
          input[type="text"], textarea
            border: 1px solid lighten(gray, 30%)
            padding: .5em

            margin: .9em 0
            font-size: .8em
            +border-radius(4px)
            +box-shadow(inset 0 0 2px lighten(gray, 40%))
          &.not_logged
            input, textarea
              border: none
              margin: 0
            label[for='user_name']
              display: none
            input[name='user[name]']
              font-size: 1.6em
              letter-spacing: 1px
            textarea
              font-style: italic
              font-size: 1em
              color: lighten(gray, 10%)
            
      
      ul.timeline
        margin-top: 2em
        +border-radius(4px)
        li
          +transition(.2s)
          padding: 1em 1em 1em 50px
          background: white 
          border: 1px solid lighten(gray, 45%)
          p
            font-size: .7em
            font-style: italic
            font-color: lighten(gray, 20%)
            margin: 0
          &:hover
            +box-shadow(0 4px .5em gray)
          &.poke, &.campaign
            background-position: 10px 10px
            background-size: 4% 35%
            background-repeat: no-repeat          
          &.poke
            background-image: url('icon-press-2.svg')
          &.campaign 
            background-image: url('icon-campaign-2.svg')

body.influencers#index
  .influencers_list
    margin-bottom: 2em
    table
      width: 100%
      img
        width: 25px
    .icon-twitter, .icon-facebook
      display: block
      float: left
      margin-right: .5em

body.influencers#new, body.influencers#create
  input[type='text'], input[type='email'], input[type="url"]
    +box-sizing("border-box")
    width: 100%
  li.input, .btn
    margin-bottom: 2em



section.footer
  background: darken($gray, 5%)
  .links, .newsletter, .social
    h4
      text-transform: uppercase
      color: darken($gray, 55%)
      margin: 1em 0
  .links 
    +grid(6)
  .social, .newsletter
    +grid(3)
  .newsletter
    +last
  .links li
    font-size: .9em
    display: inline-block
    width: 50%
