@import compass/reset
@import columnal/grid
@import facebox
@import chosen
@import url('http://fonts.googleapis.com/css?family=Londrina+Solid')

$yellow: #ffe576
$mr_green: #059146
$fb_blue: #3b5998

section
  +grid-container

.row
  +grid-row

section.login, section.header, section.highlight
  padding: .5em 0

section.login
  line-height: 40px
  font-size: x-small
  a[href="auth/meurio"], a[href="auth/facebook"]
    font-size: small
    font-family: 'Londrina Solid', cursive
    text-decoration: none
    text-transform: uppercase
    color: white
    padding: 1px 15px
    +border-radius(5px)
    letter-spacing: 1px
    margin: 0 5px
  a[href="auth/meurio"]
    background: $mr_green
  a[href="auth/facebook"]
    background: $fb_blue
    margin-right: 0
  .meurio
    float: left
    text-transform: uppercase
    img
      float: left
      margin-right: 10px
  .user
    float: right

section.header
  +box-shadow(0 15px 30px -20px lighten(black, 25%) inset)
  background: lighten(gray, 45%)
  border-bottom: 1px solid lighten(gray, 10%)

section.highlight
  +background-image(radial-gradient($yellow 0%, darken($yellow, 25%) 80%))
  +box-shadow(0 15px 30px -20px lighten(black, 10%) inset)
  height: 50px

section.highlight_tooths
  background-color: transparent
  +background-image(linear-gradient(45deg, darken($yellow, 25%) 25%, transparent 25%, transparent 75%, darken($yellow, 25%) 75%, darken($yellow, 25%)), linear-gradient(-45deg, darken($yellow, 25%) 25%, transparent 25%, transparent 75%, darken($yellow, 25%) 75%, darken($yellow, 25%)))
  background-size: 10px 10px
  height: 5px
  content: " "
  display: block

img
  margin: 0

body
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
  font-size: small
  &.campaigns
    &#index
    &#show
  &.users
    &#show
    &#edit
