$columnal-grid-width: 980px !default

$yellow: #fbca3f
$green: #009546
$orange: #ffa94b
$mr_green: #059146
$fb_blue: #3b5998

@import compass/reset
@import columnal/grid
@import facebox
@import chosen
@import icomoon
@import url('http://fonts.googleapis.com/css?family=Londrina+Solid')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700')

.campaigns_awaiting_moderation, .my_campaigns, .campaign_info, a[href="#campaigns_list"], .meurio_and_user .user, .logo_and_share .share, section.footer, .tabs, .about p, body.users#show aside, body.campaigns#update aside, body.campaigns#index aside, body.campaigns#new aside, body.campaigns#create aside, body.campaigns#edit aside
  +mobile-hide

section
  +grid-container
.hidden
  display: none
.row
  +grid-row

.logo_and_share, .links_and_social, article.wide, .meurio_and_user, section .message, .influencers_list, .highlight .links, .finished_at
  +grid(12)

article.right
  +grid(9)
  +last

article.left, .home_link 
  +grid(8)

.highlight .about, .highlight .campaign, form#new_influencer
  +grid(6)

aside.right, .new_campaign_btn
  +grid(4)
  +last
aside.left
  +grid(3)

.list .campaign
  +grid-subcolumn(9, 9)

.list .campaign .image
  +grid-subcolumn(9, 3)

.list .campaign .details
  +grid-subcolumn(9, 6)

article.left .poke, article.left .contact
  +grid-subcolumn(8, 4)

article.right, aside.right, .highlight .campaign, .list .campaign .details, .new_campaign_btn, article.left .contact, .influencers_list
  +last

img
  margin: 0
  +border-radius(0)

hr
  border-top: none
  border-bottom: 1px dashed $orange

body
  font-family: "Open Sans", 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-serif
  font-size: .9em
  line-height: 1.6em

h1, h2, h3, h4, h4, h5
  font-weight: 200 

h1, h2, h3
  font-family: "Londrina Solid"
  text-transform: uppercase

h1, h2
  line-height: 2em
  color: darken(gray, 20%)
  font-weight: 100

h1
  font-size: 1.8em
  margin-bottom: .25em

h2
  font-size: 1.6em
  margin-bottom: .5em

h3
  font-size: 1.5em

h4 
  font-size: 1em

strong
  font-weight: bold

p
  margin-bottom: 1em

a
  color: $green
  text-decoration: none
  &:hover
    color: lighten($green, 5%)

input[type='text'], textarea, input[type="email"], input[type="url"]
  outline: none
  border: 2px solid lighten(gray, 40%)
  padding: .6em .5em
  font-size: 1.1em
  color: lighten(gray, 10%)
  &:focus
    border: 2px solid $orange

table
  img
    float: left
  td
    padding: .5em
  tr:nth-child(even)
    background: lighten($yellow, 35%)
  tr:nth-child(odd)
    background: lighten($yellow, 30%)

div.logo a img:hover
  opacity: .8

li.error
  input
    border-color: red

p.inline-errors
  color: red
  font-size: .8em

p.inline-hints
  color: gray
  font-size: .8em

p.inline-hints, p.inline-errors
  margin: 0

#login
  background: black

.btn
  color: white
  background: $green
  font-family: "Londrina Solid"
  text-transform: uppercase
  font-weight: 300
  font-size: 1.3em
  padding: .4em .8em
  border: 1px solid $green
  letter-spacing: 1px
  display: inline-block
  text-align: center
  margin: 0
  +border-radius(5px)
  +background-image(linear-gradient(lighten($green, 15%), $green))  
  +transition(.1s)
  text-shadow: 1px 1px 2px darken(gray, 25%)
  &.gray
    +background-image(linear-gradient(lighten(gray, 45%), lighten(gray, 30%)))
    color: lighten(gray, 10%)
    border: 1px solid lighten(gray, 20%)
    &:hover
      color: inherit 
  &.red
    +background-image(linear-gradient(lighten(red, 45%), lighten(red, 30%)))
    border: 1px solid lighten(red, 20%)
    &:hover
      color: inherit
  &:hover 
    color: white 
    cursor: pointer
    text-decoration: none
    text-shadow: none 
  &:active
    top: 1px

article
  &.right
    background: lighten(gray, 48%)
    min-height: 400px
    +box-shadow(inset 1px 0 0 lighten(gray, 35%))
  &.left
    background: white
    padding-bottom: 2em
 
aside
  &.right
    background: lighten(gray, 48%)
    height: 100% !important
    .content
      border-left: 1px solid lighten(gray, 35%)
      padding: 0 1em 1em 1em

.inside
  padding: 1em

.clear
  clear: both

section.highlight
  h1
    font-size: 2.5em
  .btn
    font-size: 1.5em
    padding: .5em 1em
  .new_campaign_btn
    .btn
      font-size: 1.5em
      padding: none
      margin-top: .2em
      +border-radius(0px !important)
      +box-shadow(none !important)
  .links
    padding: 1em 0

section.content
  margin-top: .8em

section.header, section.footer
  padding: 1.5em 0

section.notice, section.alert
  .message
    color: white
    &:before
      padding-right: 1em

section.notice
  background: $green
  border-bottom: 1px dashed darken($green, 20%)

section.alert
  background: $orange
  border-bottom: 1px dashed darken($orange, 20%)

section.login, section.footer
  line-height: 40px

a[href="/auth/facebook"], a[href="/auth/meurio"]
  text-transform: uppercase
  font-family: 'Londrina Solid', cursive
  letter-spacing: 1px
  color: white
  padding: 4px 15px
  +border-radius(5px)

a[href="/auth/meurio"]
  background: $mr_green

a[href="/auth/facebook"]
  background: $fb_blue

.popup
  h1
    line-height: normal
    color: $green
  .buttons
    text-align: center
  .share
    .fb-like
      top: -4px

section.login
  font-size: .8em
  padding: .2em 0 
  .row
    overflow: visible
  .meurio
    text-transform: uppercase
  a.mr, a.fb
    font-size: small
    margin: 0 5px
  a.fb
    margin-right: 0
  a:hover
    opacity: .8
  .meurio
    font-size: .7em
    float: left
    img
      float: left
      margin-right: .4em
      height: auto !important 
  .user
    float: right
    line-height: 20px
    margin-top: 10px
    position: relative
    img
      margin-right: 1em
      width: 25px
      height: 25px
      float: left 
    .icon-triangle
      display: inline
      margin-left: 1em
      padding: 1em .7em 1em 1em
      color: gray
      &:before
        font-size: 1.5em
      &:hover
        background: lighten(gray, 20%)
        color: white
        .options
          display: block
      .options
        width: 180px
        right: 0
        top: 25px
        display: none
        position: absolute
        background: white
        padding: 1em
        z-index: 1000
        line-height: normal
        border: 1px solid lighten(gray, 20%)
        li
          margin-bottom: .5em
          &:last-child
            margin: 0
        a
          color: gray
          display: block

section.header
  +box-shadow(0 15px 18px -20px lighten(black, 25%) inset)
  background: lighten(gray, 47%)
  border-bottom: 1px solid lighten(gray, 10%)
  .row
    overflow: visible
  .logo
    float: left
  .share
    margin-top: 20px
    float: right

section.highlight, section.footer
  +background-image(radial-gradient(lighten($yellow, 10%) 0%, $yellow 75%))

section.highlight
  +box-shadow(0 15px 20px -20px lighten(black, 20%) inset)

section.highlight_teeths, section.footer_teeths
  background-color: transparent
  background-size: 10px 10px
  height: 5px
  content: " "
  display: block

section.footer_teeths
  margin-top: 4em
  background-position: 0 5px

section.footer
  .links
    float: left
    text-transform: uppercase
    a
      text-decoration: none
      padding-right: 15px
      margin-right: 15px
      border-right: 1px solid $green
      &:last-child
        border: none
  .social
    float: right
    a
      float: right
      margin-left: 10px

.warning
  background: lighten($orange, 25%)
  padding: .5em
  text-align: center
  line-height: normal
  margin-bottom: 1em
  border: 2px dashed $orange
  color: darken($orange, 40%)

.category
  color: $orange
  font-size: .8em

.campaigns#index
  .list
    .campaign
      +box-shadow(white 10em 0 10em 0 inset, white -10em 0 10em 0 inset, black 0 1em 1em -1em inset)
      &:first-child
        +box-shadow(none)

.users#show
  .list
    .campaign
      +box-shadow(lighten(gray, 48%) 10em 0 10em 0 inset, lighten(gray, 48%) -10em 0 10em 0 inset, black 0 1em 1em -1em inset)
      &:first-child
        +box-shadow(none)

.list
  .campaign
    padding: 2em 0
    .image
      .img
        background: white
        border: 1px solid lighten(gray, 20%)
        padding: .5em
        overflow: hidden
        position: relative
        .finished
          position: absolute
          color: white
          font-family: "Londrina Solid"
          text-transform: uppercase
          font-size: 2em
          line-height: normal
          padding: 0 40px
          top: 25px
          left: -40px
          +box-shadow(black 0 0 10px)
          +rotate(-45deg)
          &.succeed
            background: $green
          &.unsucceed
            background: desaturate(red, 40%)
    .details
      .description, .is_waiting_moderation
        font-size: .8em
      .description
        color: gray
        margin-bottom: 1em
      span.is_waiting_moderation
        line-height: normal
        background: gray
        color: white
        display: inline-block
        line-height: normal 
        padding: .5em
        +border-radius(.5em)
.pokers
  ul li
    float: left
  li.plus a, img
    width: 30px
    margin: 0 .4em .4em 0
  span.who
    width: 75px
    font-family: "Londrina Solid"
  span.who, img
    float: left
    line-height: .9em
    font-size: 1.2em
    text-transform: uppercase
    color: gray
    margin-right: .3em
  span.who 
    display: block
  .plus
    a
      display: block
      height: 30px
      background: $green
      color: white
      font-size: 1.2em
      line-height: 1.6em
      text-align: center

#show, #update
  .highlight
    line-height: 2.6em
    .home_link
      a
        margin-right: 2em
        font-size: .9em
      a.home
        &::before
          content: "‹ "
          font-size: 1.4em
    .new_campaign_btn
      text-align: center
      a
        color: white
        letter-spacing: 1px
        text-transform: uppercase
        font-family: "Londrina Solid"
        font-size: 1.4em
        text-shadow: 1px 1px 2px darken(gray, 25%)
        +transition(.1s)
        &:hover
          color: darken($green, 5%)
          text-shadow: none

body
  &.campaigns
    &#index
      article.left
        +grid(9)
      aside.right
        +grid(3)
        +last
      .highlight
        padding: 1.5em 0
        .about
          color: darken(gray, 10%)
          h1
            line-height: normal
          a[href="#campaigns_list"]
            background: image-url("home_participe.png")
            height: 0
            padding-top: 76px
            width: 152px
            overflow: hidden
            float: right
            vertical-align: middle
            margin-right: 70px
            margin-top: -5px
          p.headline
            margin-bottom: 2em
        .campaign
          .info
            position: relative
            background: white
            padding: 10px
            border: 1px solid lighten(gray, 20%)
            .name
              font-family: "Londrina Solid"
              position: absolute
              bottom: 10px
              margin-right: 10px
              background: rgba(0, 0, 0, .75)
              padding: .5em
              font-size: 1.5em
              letter-spacing: 1px
              text-transform: uppercase
              a
                color: white
                text-decoration: none
      .list
        margin-bottom: 5em
      .pokes_list
        font-size: .8em
        line-height: normal
        margin-bottom: 5em
        .poke
          padding-top: 2em
          margin-top: 2em
          +box-shadow(lighten(gray, 48%) 5em 0 10em 0 inset, lighten(gray, 48%) -5em 0 10em 0 inset, black 0 1em 1em -1em inset)
          &:first-child
            padding-top: 0
            margin-top: 0
            +box-shadow(none)
          .user
            overflow: hidden
            line-height: 20px
            margin-bottom: .25em
            img
              width: 20px
              height: 20px
              float: left
              margin-right: .5em
          .poke_created_at
            color: $orange
            font-size: .8em
    &#show
      .finished_at
        span
          background: $green
          color: $yellow
          text-align: center
          padding: .25em
          line-height: normal
          font-size: 2em
          display: block
          margin-bottom: 1em
          font-family: "Londrina Solid"
          text-transform: uppercase
          +text-shadow(darken($green, 20%) 1px 1px 2px)
          &.unsucceed
            background: desaturate(red, 40%)
      #facebox
        label 
          display: none
        textarea
          +box-sizing("border-box")
          width: 100%
      article.left
        h1
          line-height: normal
          font-size: 2.0em
          letter-spacing: 1px
          margin-bottom: 1em
        h2
          visibility: hidden
          color: lighten($orange, 5%)
          font-size: .8em
          border-bottom: 1px dashed $orange
          margin-bottom: 0
        small
          display: none
        .tabs
          border-bottom: 1px solid lighten(gray, 25%)
          margin-bottom: 2em
          a
            color: darken(white, 5%)
            background: $green
            display: inline-block
            padding: .6em 3em
            margin-right: .4em
            text-transform: uppercase
            font-size: .7em
            position: relative
            top: 1px
            +box-shadow(black 0 -5px 10px -5px inset)
            +border-radius(5px 5px 0 0)
            +transition(0.5s)
            +text-shadow(0 0 1px black)
            &.selected
              border: 1px solid lighten(gray, 25%)
              +box-shadow(1px 1px 3px gray)
              border-bottom: none
              background: white
              color: gray
              +box-shadow(none)
              &:hover
                background: none
            &:hover
              background: lighten($green, 5%)
            span
              background: darken($green, 15%)
              padding: 1px 7px
              margin: 0 4px
              +border-radius(8px)
              color: white
            &.comments
              span
                padding: 1px 2px
        .image
          img
            border: 2px solid lighten(gray, 35%)
        .share
          iframe, .fb-like
            display: inline-block
            width: 100px
          .fb-like
            position: relative
            top: -3px
        .poke
          .btn
            display: block
        .contact
          color: $orange
          line-height: 26px
        .description
          color: #555
          a
            color: darken($green, 5%)
            &:hover
              color: $green
        .influencers_response
          small
            display: block
            color: gray
            font-style: italic
            text-align: center
            margin-bottom: 1em
          .campaign_answer
            border-bottom: dashed 1px $orange
            margin-bottom: 1em
            padding-bottom: 1em
            .answer_created_at
              color: $orange
              font-size: .8em
            .answer_text
              color: gray
              p
                margin: 0
          form.new_answer
            label
              display: block
            textarea
              width: 100%
              +box-sizing("border-box")
              height: 200px
      aside.right
        .poke_buttons
          color: darken(gray, 10%)
          font-size: .8em
          margin-top: 2em
          padding: 1em
          background: #ffde5d
          border: 1px solid darken(#ffde5d, 20%)
          text-align: center
          line-height: normal
          +box-shadow(lighten(#ffde5d, 30%) 1px 0 1px inset)
          +border-radius(0 10px 10px 0)
          form
            a
              display: block
            a[href="#facebook_poke_message"]
              margin-bottom: 1em
          hr
            border: none
            border-top: 1px solid darken(#ffde5d, 25%)
            border-bottom: 1px solid lighten(#ffde5d, 25%)
            margin: 1.5em 0
          .pokes_counter
            padding: .5em
            background: white
            +border-radius(5px)
            +box-shadow(black 1px 1px 2px)
            span
              display: block
              font-size: 4em
              text-align: center
              font-family: "Londrina Solid"
              line-height: normal
          .btn
            background: $green
            border: none
            +transition(.1s)
            &:hover 
              background: darken($orange, 15%)
          .facebook_poke, .email_poke, .twitter_poke, span.count
            padding: .8em 1em
            font-size: 1.3em
            width: 76%
            +border-radius(0 6px 6px 0)
            &:disabled
              background: lighten(gray, 20%)
              &:hover
                background: lighten(gray, 20%)
                +text-shadow(1px 1px 2px #404040)
          .email_poke
            background: darken(gray, 20%)
            &:hover
              background: darken(gray, 5%)
          .facebook_poke
            background: $fb_blue
            margin-top: .4em
            &:hover
              background: lighten($fb_blue, 10%)
          .twitter_poke
            background: darken(#82bbce, 15%)
            &:hover
              background: darken(#82bbce, 5%)
          span.count
            background: white
            width: 15%
            display: inline-block
            padding: .7em .4em
            font-weight: bold
            +border-radius(6px 0 0 6px)
          a.message_link
            font-size: .9em
            margin: .4em 0
          .poke_options
            background: lighten($yellow, 1%)
            padding: .8em 0
            +box-shadow(inset 0 0 2px lighten(gray, 25%))
        .targets, .pokers
          h2
            span
              color: $orange
        .targets
          ol
            margin-bottom: 2em
            li.target
              overflow: hidden
              margin-bottom: 1em
              .info
                float: left
                width: 60%
                margin-right: 5%
                img
                  width: 40px
                  height: 40px
                  float: left
                  margin-right: .5em
                .name, .role
                  font-size: .8em
                  line-height: 20px
                .name
                  font-weight: bold
                  color: $green
                .role
                  color: $orange
                  font-size: .6em
              .social
                width: 35%
                float: left
                line-height: 40px
                text-align: right
                a
                  font-size: 1.25em
                  color: lighten(gray, 20%)
                  margin-right: .5em
                  &:hover
                    text-decoration: none
                    color: $green
        .supporters, .pokers
          padding: 2em 0
          overflow: hidden
          +box-shadow(lighten(gray, 48%) 5em 0 5em 0 inset, lighten(gray, 48%) -5em 0 5em 0 inset, black 0 1em 1em -1em inset)
          img
            width: 40px
            height: 40px
            float: left
            margin-right: .5em
            margin-bottom: .5em
    &#new, &#edit, &#create, &#update
      h1
        margin: .4em
      small
        margin: 0 0 0 1em
      color: lighten(gray, 5%)
      .inline-errors
        color: red
        font-size: .7em
        text-align: center
      .field_row
        +transition(1s)
        padding: 2em .8em
        overflow: hidden 
        +box-shadow(white 10em 0 10em 0 inset, white -10em 0 10em 0 inset, black 0 1em 1em -1em inset)
        &.first, &.last
          +box-shadow(none)
        &:hover 
          background: lighten($yellow, 35%)
        &.last:hover
          background: none
        &.influencers
          overflow: visible
      .label_and_field
        width: 100%
        float: left
      
      aside.right
        .content
          .tip
            width: 90%
            background: lighten($yellow, 5%)
            color: #333
            line-height: 1.4em
            font-size: .7em
            margin: 8em 0 11em 1em
            +border-radius(6px)
            &::before
              content: ""
              display: block
              height: 0
              width: 0
              border: 10px solid lighten($yellow, 5%)
              border-color: transparent lighten($yellow,5%) transparent transparent
              border-width: 10px 10px 10px 0
              position: absolute
              margin-top: 1em
              left: 1.5em
            &.text
              &::before
                margin-top: 2.1em
            &.first
              margin-top: 13em
              margin-bottom: 12em
            &.marked
              margin-top: 15em
              margin-bottom: 10em
              &.second
                margin-top: 25em
                margin-bottom: 16em
            span
              display: block
              padding: 1em
      .action
        width: 80%
        margin: 4em auto
      a.cancel
        margin-right: 2em
      input[type='text'], textarea
        width: 98%
      textarea
        height: 200px
      h1
        line-height: 1em
      small
        font-size: .8em
        line-height: 1.4em
        display: block
      label 
        color: $green
        font-size: 1em
        font-weight: bold
        display: block
        margin: 1em 0 .8em 0
      .influencers
        input
          +box-shadow(none)
  &.users, &.influencers
    &#show
      .about
        overflow: hidden
        margin-bottom: 1em
      .submit
        float: right
      article.right
        +grid(9)
        +last
        textarea
          width: 100%
          height: 200px
          +box-sizing("border-box")
        form.not_logged
          textarea
            height:  10% !important
            background: none
            border: none
      aside.left
        +grid(3)
        h3
          padding-top: 1em
        strong
          display: block
        .image
          img
            +box-shadow(0 0 .4em gray)
            padding: .5em
        form
          span.member_since
            font-size: .7em
            color: lighten(gray, 15%)
          hr
            border: 1px solid lighten(gray, 40%)
          label
            display: block
            margin: .5em 0 0 0
            font-weight: bold
            color: $green
          .image, ul.details
            margin: 1em
          .image
            img
              +box-shadow(0 0 .4em gray)
              padding: .5em
          textarea
            max-width: 91% 
            max-height: 6em
  
          input[type="text"], textarea
            border: 1px solid lighten(gray, 30%)
            padding: .5em

            margin: .9em 0
            font-size: .8em
            +border-radius(4px)
            +box-shadow(inset 0 0 2px lighten(gray, 40%))
          &.not_logged
            input, textarea
              border: none
              margin: 0
            label[for='user_name']
              display: none
            input[name='user[name]']
              font-family: "Londrina Solid"
              font-size: 1.6em
              letter-spacing: 1px
            textarea
              font-style: italic
              font-size: 1em
              color: lighten(gray, 10%)
            
      
      ul.timeline
        margin-top: 2em
        +border-radius(4px)
        li
          +transition(.2s)
          padding: 1em 1em 1em 50px
          background: white 
          border: 1px solid lighten(gray, 45%)
          p
            font-size: .7em
            font-style: italic
            font-color: lighten(gray, 20%)
            margin: 0
          &:hover
            +box-shadow(0 4px .5em gray)
          &.poke, &.campaign
            background-position: 10px 10px
            background-size: 4% 35%
            background-repeat: no-repeat          
          &.poke
            background-image: url('icon-press-2.svg')
          &.campaign 
            background-image: url('icon-campaign-2.svg')

body.influencers#index
  .influencers_list
    margin-bottom: 2em
    table
      width: 100%
      img
        width: 25px
    .icon-twitter, .icon-facebook
      display: block
      float: left
      margin-right: .5em

body.influencers#new, body.influencers#create
  input[type='text'], input[type='email'], input[type="url"]
    +box-sizing("border-box")
    width: 100%
  li.input, .btn
    margin-bottom: 2em
