body.campaigns#new, body.campaigns#edit, body.campaigns#create, body.campaigns#update
  .header, form
    +grid(12)
  .field
    margin-bottom: 20px
  fieldset, .header
    margin-bottom: 40px
  .field, fieldset
    &:last-child
      margin-bottom: 0
  form
    label
      display: block
      &[for='campaign_poke_type_email'], &[for='campaign_poke_type_facebook'], &[for='campaign_poke_type_twitter']
        display: inline-block
      &[for='campaign_poke_type_email'], &[for='campaign_poke_type_facebook'], &[for='campaign_poke_type_twitter']
        margin-right: 10px
      &.message
        display: block
    input[type='text'], textarea
      width: 100%
    textarea
      height: 100px
    fieldset
      display:block
    input[type='submit']
      width: auto
    .email_text, .facebook_text, .twitter_text
      display: none
      margin: 0

body.campaigns#index, body.campaigns#unmoderated
  article.left
    +grid(12)
    +last
  .featured
    .description
      padding: .2em 0 .6em 0
  h2.popular
    margin: .6em 0 1.5em 0
    color: darken(gray, 25%)
    font-weight: bold
    &:before
      color: darken($orange, 5%)
      margin-right: .4em
      top: .2em
      position: relative
  section.index, .popular
    ol.campaigns 
      li.campaign
        &:nth-child(4n+0)
          +last
  .all_campaigns
    form.search
      margin-bottom: 2em
      display: block
      input
        padding: 0
    .block
      +grid(4)
      &.last
        +last
    ol.campaigns
      margin-top: 1em

body.campaigns#show
  article.left.campaign, aside.right.pressure, article.left.tab
    +grid(6)
  .twitter-share-button
    position: relative
    top: .250em
    left: .8em
  section.header
    +box-shadow(0 1px 6px lighten(black, 75%))
    margin-bottom: .2em
  h1.title, .campaign_subtitle span
    color: darken($gray, 75%)
  h1.title
    font-size: 2em
    font-weight: bold
    line-height: 100% 
    margin: 1em 0 .5em 0
  .campaign_subtitle
    margin-bottom: 1.5em
    span
      margin-right: 1em
      font-size: 1em
      display: inline-block
      color: darken($gray, 55%)
    .campaign_menu
      display: inline-block
      a[class^="icon-"]
        display: inline-block
        line-height: 0
        background: lighten(lightgray, 10%)
        padding: 5px 10px
        color: gray
        border-top: 1px lightgray solid
        border-bottom: 1px lightgray solid
        border-left: 1px lightgray solid
        &:hover
          background: white
        &:first-child
          +border-radius(5px 0 0 5px)
        &:last-child
          +border-radius(0 5px 5px 0)
          border-right: 1px lightgray solid
  article.tab, article.share
    background: none
    padding-bottom: .6em
  nav a
    font-size: 13px
    color: lighten(gray, 20%)
    margin-right: 5px
    padding: .5em .3em
    +transition(.2s)
    &.selected, &:hover
      color: $green
      border-bottom: 3px solid $green
      span.count
        background: $green
    &:hover
      border: none
    span.count
      background: $yellow
      color: white
      font-size: .8em
      margin-left: .4em
      text-align: center
      display: inline-block
      width: 30px
      +border-radius(2px)
  .wrap
    padding: 1.8em
    background: white
    height: 100% !important
    overflow: hidden
    +border-radius(4px)
  article.campaign, aside.pressure
    form.new_poke
      border: 1px gray solid
      margin-bottom: 20px
      +border-radius(5px)
      .header
        color: white
        padding: 10px
        font-weight: bolder
        font-size: 1.1em
        &.email  
          background: $darker_gray
        &.facebook
          background: $fb_blue
      .field, .preview
        background: white
        padding: 10px
        border-bottom: 1px lightgray solid
        textarea
          color: $darker_gray
          resize: none
          height: 7em
          width: 100%
          border: 0
        p
          margin-bottom: 5px
        .post
          background: #f7f7f7
          overflow: hidden
          border: 1px lightgray solid
          +border-radius(3px)
          img
            width: 200px
            float: left
            margin-right: 10px
          .text
            font-size: 13px
            padding: 10px
            line-height: 1em
            color: gray
            span
              display: block
            span.title
              color: $fb_blue
              font-weight: bold
            span.url
              margin-bottom: 10px
            span.description
              margin: 0
      .field
        input
          border: 0
          color: $darker_gray
        span
          +border-radius(3px)
          margin: 0 5px
          padding: 3px 6px
          display: inline-block
          margin-bottom: 5px
        &.user
          span
            background: $light_green
            border: 1px solid green
            color: green
        &.to
          span
            background: #ffd9da
            border: 1px solid red
            color: red
        &.subject
          span
            font-weight: bolder
            font-size: 1.1em
            padding: 0
      .action
        padding: 10px
        input
          width: 100%
          padding: 20px
          color: white
          font-size: 18px
          font-weight: bolder
          border: 0
          cursor: pointer
          +opacity(.9)
          +border-radius(3px)
          &:hover
            +opacity(1)
          &.facebook
            background: $fb_blue
          &.email
            background: $email_blue
    .counter
      .icon-comments
        &:before
          font-size: 42px
          top: 0
      span.number
        span
          background: black
          color: white
          display: inline-block
          height: 41px
          width: 41px
          padding: 0
          margin: 0
          line-height: normal
          font-size: 34px
          text-align: center
          margin-right: 2px
          +border-radius(5px)
      span.label
        font-size: 14px
        display: inline-block
        padding: 0
        margin-left: .5em
        position: relative
        top: 2px
        line-height: normal
  .image
    img,iframe
      +border-radius(4px)
    iframe
      width: 100% !important
      height: 350px !important
  .description
    margin: 1.6em 0
    a
      border-bottom: 1px dotted $green
    p
      font-size: 1.05em !important
      color: darken($gray, 60%)
      line-height: 1.6em
      strong
        color: #333
  .counter 
    margin-bottom: 1em
    border-top: none
    margin-top: 1em
    .count
      color: black
      &:before
        color: gray
        top: -10px
        position: relative
      span
        display: inline
        font-size: 28px
  .targets, .supporters, .pokers
    margin-bottom: 1em
    overflow: hidden
    background: white
    +border-radius(5px)
    h3
      border: 1px solid $gray 
      border-bottom: none
      padding: .8em
      font-size: 1.1em
      font-weight: bold
      span
        color: $orange
      &:before
        color: darken($gray, 30%)
        margin-right: .4em
        font-size: 1.2em
        position: relative
        top: .192em
    .content
      border: 1px solid $gray 
      padding-top: 1em
    img
      float: left
      +transition(.4s)
      +border-radius(100%)
      &:hover
        opacity: .7
    .social a
      display: inline-block
      margin-right: .4em
  .target
    margin-bottom: .8em
  .icon-twitter
    color: $twitter_blue
  .icon_facebook
    color: $fb_blue
  .icon-mail
    color: gray
  .targets img, .supporters img
    padding-right: .4em
  .targets .role
    font-size: .7em
    color: lighten(gray, 10%)
    line-height: 1em
  .supporters
    li
      height: 50px
      margin-bottom: 1em
  .pokers
    li
      float: left
      img
        border: 1px solid white
        &:hover
          border: 1px solid $orange
    li.who_pokes
    .content
      overflow: hidden
    .the_others
      font-weight: bold
      line-height: 3.5em
      text-align: center
      width: 100%
      &:before
        content: "+"
        margin-left: .4em
  .update_facebox
    color: gray
    .body
      margin-top: 1em
      p
        &:last-child
          margin: 0
    .image
      img
        width: 100%
    .title
      font-size: 1.5em
      margin-bottom: 1em
      font-weight: bold
    .share_buttons
      text-align: center
      margin-top: 3em
      a.facebook_share, a.twitter_share
        width: auto
        font-size: .9em
        margin-right: .5em
        padding: .75em 1em .7em 1em
        display: inline-block
  form.new_update, form.edit_update
    label
      font-weight: bold
      display: block
      margin-bottom: .25em
    .field
      margin-bottom: 1.5em
      &:last-child
        margin: 0
    input[type='text'], textarea
      width: 100%
    textarea
      height: 100px
    .btn
      width: auto
    img
      width: 100%
  .campaign_updates
    #new_update
      width: auto
      margin-bottom: 3em
    .update
      overflow: hidden
      border-bottom: 1px solid lightgray
      padding-bottom: 2em
      margin-bottom: 2em
      .image
        img
          float: left
          margin-right: 1em
          width: 200px
      .created_at
        color: lighten(gray, 10%)
      .title
        font-weight: bold
        font-size: 1.25em
        a
          color: gray
          &:hover
            text-decoration: underline
      .buttons
        a.edit
          color: $yellow
        a.remove
          color: red
