$columnal-grid-width: 980px

body
  font-family: Arial, Arial, Helvetica, sans-serif
  font-size: .9em 
  line-height: 1.6em 
  background: url("bg.png")

h1, h2
  color: gray
  text-transform: uppercase
  margin-bottom: 1em
  +text-shadow(white 0 1px 1px)
  font-family: 'Cantarell', sans-serif

h1
  font-size: x-large

h2
  font-size: medium

em
  font-weight: bold

a
  color: $blue

small
  color: gray
  font-style: italic

label
  color: gray
  font-weight: bold
  +text-shadow(white 0 1px 1px)

strong
  font-weight: bold

form
  .field_bg
    background: white
    padding: .5em
    border: 2px solid #066
    +border-radius(.25em)
    +box-shadow(lighten(gray, 20%) 0 1px 1px)
    input, textarea
      +box-shadow(none)
      background: white
      padding: 0
      width: 100%
    textarea
      height: 200px

header, footer
  +grid-container
  padding: 1em 0
  background: lighten($orange, 5%)
  border-bottom: 1px solid lighten($orange, 20%)
  border-top: 1px solid darken($orange, 5%)
  color: white
  +text-shadow(black 0 1px 1px)
  line-height: 50px

header
  img
    margin: 0
  .logo
    +grid(2)
    img
      height: 50px
      float: left
  .menu
    +grid(6)
    span
      display: inline-block
      margin: 0 1em
    a
      color: white
      text-decoration: none
      text-transform: uppercase
      &.btn
        padding: 0 1em
        font-size: medium
  .user
    +grid(4)
    +last
    text-align: right
    img
      float: right
      margin-left: 1em
    p
      padding: 0
      line-height: normal
      a
        +text-shadow(none)
    a[href="/auth/meurio"], a[href="/auth/facebook"]
      text-decoration: none
      font-weight: bold
      +text-shadow(none)
    a[href="/auth/meurio"]
      color: darken($mr_green, 5%)
    a[href="/auth/facebook"]
      color: $fb_blue

section.content
  +grid_container
  padding-top: 2em
  padding-bottom: 2em
  border-top: solid darken(#dddddd, 10%) 1px
  border-bottom: solid white 1px

footer
  .links
    +grid(12)
    a[href="http://meurio.org.br/"]
      float: right

input[type="text"], input[type="email"], textarea
  font-size: medium
  border: none
  padding: .5em
  +border-radius(.25em)
  +box-shadow(gray 0 1px 1px inset)
  &:focus
    outline: none

input[type="submit"]
  margin: 0

.alerts
  +grid(12)
  color: gray
  +text-shadow(white 0 1px 1px)
  .notice
    padding-left: 22px
    background: url("http://icons.iconarchive.com/icons/pixelmixer/basic/16/tick-icon.png") left no-repeat
    margin-top: 1em
  .alert
    padding-left: 22px
    background: url("http://icons.iconarchive.com/icons/pixelmixer/basic/16/block-icon.png") left no-repeat
    margin-top: 1em

.row
  +grid_row
      
.inline-errors
  color: $red

@mixin btn($color)
  background: lighten($color, 20%)
  +background-image(linear-gradient(lighten($color, 20%), $color))
  color: white
  text-decoration: none
  padding: .5em
  display: inline-block
  text-transform: uppercase
  font-size: large
  border: none
  +box-shadow(lighten($color, 40%) 0 1px 1px inset, gray 0 1px 1px)
  +border-radius(.25em)
  &:active
    position: relative
    top: 1px
    +box-shadow(lighten($color, 40%) 0 1px 1px inset)
  &:disabled
    background: lighten(gray, 20%)
    +background-image(linear-gradient(lighten(gray, 20%), gray))
    border: 1px solid gray
    +box-shadow(lighten(gray, 40%) 0 1px 1px inset, gray 0 1px 1px)
    +text-shadow(darken(gray, 20%) 0 -1px 1px)

.btn
  +btn($green_btn)

.btn_blue
  +btn($yellow)

.btn_fb
  +btn($fb_blue)

.btn_mr
  +btn($mr_green)

.btn_twitter
  +btn($twitter_blue)

.loader
  display: none
  width: 16px
  height: 16px

hr
  border: none
  border-top: 1px dashed gray
  margin-bottom: 2em

.chzn-container
  .chzn-choices
    border: none
    background: none
    +box-shadow(none)
    input.default
      margin: 0
      padding: 0
