@font-face
  font-family: 'IcoMoon'
  src: url(asset-path('IcoMoon.eot', font))
  src: url(asset-path('IcoMoon.eot?#iefix', font)) format("embedded-opentype"), url(asset-path('IcoMoon.svg#IcoMoon', font)) format("svg"), url(asset-path('IcoMoon.woff', font)) format("woff"), url(asset-path('IcoMoon.ttf', font)) format("truetype")
  font-weight: normal
  font-style: normal


/* Use the following CSS code if you want to use data attributes for inserting your icons

[data-icon]:before
  font-family: 'IcoMoon'
  content: attr(data-icon)
  speak: none

/* Use the following CSS code if you want to have a class per icon

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: 'IcoMoon'
  font-style: normal
  speak: none

.icon-exit:before
  content: "\0021"

.icon-globe:before
  content: "\0022"
