@font-face
  font-family: 'icomoon'
  src: font-url('icomoon.eot')
  src: font-url('icomoon.eot?#iefix') format("embedded-opentype"), font-url('icomoon.svg#icomoon') format("svg"), url('fonts/icomoon.woff') format("woff"), font-url('icomoon.ttf') format("truetype")
  font-weight: normal
  font-style: normal


[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: 'icomoon'
  font-style: normal
  speak: none
  font-weight: normal
  -webkit-font-smoothing: antialiased

.icon-list:before
  content: "\22"

.icon-fire:before
  content: "\23"

.icon-arrow-left:before
  content: "\24"

.icon-arrow-right:before
  content: "\25"

.icon-search:before
  content: "\26"
