@font-face {
	font-family: 'IcoMoon';
	src: url('/assets/IcoMoon.eot');
	src: url('/assets/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('/assets/IcoMoon.svg#IcoMoon') format('svg'),
		url('/assets/IcoMoon.woff') format('woff'),
		url('/assets/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
  padding-right: 3px;
}
.icon-facebook:before {
	content: "\21";
}
.icon-twitter:before {
	content: "\22";
}
.icon-email:before {
	content: "\23";
}
.icon-home:before {
	content: "\24";
}
.icon-pencil:before {
	content: "\25";
}
.icon-user:before {
	content: "\26";
}
.icon-comments:before {
	content: "\27";
}
.icon-exit:before {
	content: "\28";
}
.icon-triangle:before {
	content: "\29";
}
.icon-checkmark:before {
	content: "\2a";
}
.icon-warning:before {
	content: "\2b";
}
