body.pages#about
  color: #758794
  h2
    color: #01833d
  h3
    color: #f89c19
    text-transform: uppercase
    font-size: 1em
  ul
    list-style: disc
  strong
    color: black
  .about_item
    margin-top: 5em
  .about_image
    +grid(3)
    text-align: center
  .about_text
    +grid(9)
    +last
